@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

/* ======= Root Variables ======= */
:root {
    /* Colors */
    --primary-dark: #051A2D;
    --primary-blue: #0A66C2;
    --secondary-dark: #1A2B3C;
    --accent-gold: #FFD700;
    --text-primary: #FFFFFF;
    --text-secondary: #C0C0C0;

    /* navbar-scrolled-bg */
    --navbar-scrolled-bg: rgba(5, 31, 48, 0.95);

    /* spacing */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 4rem;

    /* Border */
    --border-radius: 10px;
    --border-radius1: 8px;
    --border-gold: 2px solid var(--accent-gold);

    /* Transition */
    --transition: all 0.3s ease;
}

/* ====== General Body Styling ====== */
body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-dark);
    color: var(--text-primary);
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
    margin-bottom: var(--spacing-sm);
}

.NAVBAR {
    background-color: var(--navbar-scrolled-bg);
    backdrop-filter: blur(10px);
    border-bottom: var(--border-gold) !important;
}